<div>
    <a routerLink="/addAirline" role="presentation" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}">
        Add Airline
    </a>
<a role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        routerLink="/addSchedule">Add Schedule</a>
<a role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
             routerLink="/addFlight">Add Flight</a>

<a role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                     routerLink="/addDiscount">Add Discount</a>

</div>


<router-outlet></router-outlet>
