
        <body>
        

        <div class="divColour">
            <a class="linkdesign" routerLink="registerUser" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <b>Register  </b> 
            </a>
        
           <a class="linkdesign" routerLink="login" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <b>Login </b> 
            </a>
            <a class="linkdesign" routerLink="/addAirline" role="presentation" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">
              <b>Add Airline</b>  
            </a>
        <a class="linkdesign" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                routerLink="addSchedule">
                <b>
                Add Schedule</b>
            </a>
        <a class="linkdesign" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                     routerLink="addFlight">
                     <b>
                     Add Flight</b>
                    </a>
        
        <a class="linkdesign" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                             routerLink="addDiscount">
                             <b>
                             Add Discount</b></a>
        <a class="linkdesign" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                             routerLink="flightDetails">
                             <b>
                             FlightDetails</b></a>

    <a class="linkdesign" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                             routerLink="searchFlight">
                             <b>
     Search Flight</b></a>
     <a class="linkdesign" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                             routerLink="bookedTicket">
                             <b>
     Booked Ticket History</b></a>
        
        </div>
    <router-outlet></router-outlet>
   </body>